/*  //////////////////////////////////////////////////
    Subj:   Coding Dojo > Web Fundamentals > HTML/CSS/JS

    By:     Virgilio D. Cabading Jr.    
    ////////////////////////////////////////////////// */

* {
    font-family: Helvetica;
}

/* //// TOP BAR ///////////////////////////////////////*/
.top-bar {
    background-color: blue;
    height: 100px;
    margin: 10px 0px;
}

.top-bar > * {
    color: white;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
}

.logo>span {
    color: yellow;
}

/* //// MAIN CONTENT //////////////////////////////////*/
.main-content {
    background-color: yellow;
    height: 800px;
}

.city-bar {
    background-color: white;
    height: 200px;
}

.weather-bar {
    background-color: green ;
    height: 600px;
}