/*  //////////////////////////////////////////////////
    Subj:   Coding Dojo > Web Fundamentals > HTML/CSS/JS

    By:     Virgilio D. Cabading Jr.    
    ////////////////////////////////////////////////// */

* {
    font-family: Helvetica;
}

/* //// TOP BAR ///////////////////////////////////////*/
.top-bar {
    background-color:dodgerblue;
    margin: 10px 0px;
}

.top-bar > * {
    color: white;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
}

.logo>span {
    color: yellow;
}

/* //// MAIN CONTENT //////////////////////////////////*/

/* //// City Bar //////////////////////////////////////*/
.city-bar {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 2px 0px;
}

/* //// Weather Bar ///////////////////////////////////*/
.weather-card {
    background-color: lightblue;
}

.weather-card>img {
    height: 150px;
    border-radius: 50%;
}

.red-temp {
    color: red;
}

.blue-temp {
    color: blue;
}