/*  //////////////////////////////////////////////////
    Subj:   Coding Dojo > Web Fundamentals > HTML/CSS/JS

    By:     Virgilio D. Cabading Jr.    
    ////////////////////////////////////////////////// */

* {
    font-family: Helvetica;
}

/* //// TOP BAR ///////////////////////////////////////*/
.top-bar {
    background-color:dodgerblue;
    margin: 10px 0px;
}

.top-bar > * {
    color: white;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
}

.logo>span {
    color: yellow;
}

/* //// MAIN CONTENT //////////////////////////////////*/
.main-content {
    background-color: yellow;
    height: 800px;
}

.city-bar {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 2px 0px;
}

.weather-bar {
    background-color: green ;
    height: 600px;
}